            form{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 150%;
                width: 100%;
            }
            
            label{
                
                margin-top: 0.5%;

            }
            
            button{
                width: fit-content;
                margin-top: 1%;
            }
            
            
            
            *{
                margin: 0;
                padding: 0;
            }
            html{
                height: 100%;
            }
            
            div{
                height: 10%;
                /*width: 30%;*/
                width:100%;
                display: flex;
                flex-direction: row;                
                align-items: center;
                
            }
            
            div label,input{
                
                margin: 0% 20%;
            }
            
            #enviar{
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
                                    
            #fechaNac input{
                 margin-left: 21.7%;
            }
            
            #fechaActual input{
                margin-left: 17.6%;
            }
            
            #nombre label, input{
                
            }
            
            #boton{
                font-size: 100%;
                padding: 1% 2%;
                background-color: greenyellow;
            }
            
            #respuesta{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            #errorFecha{
                font-size: 60%;               
            }
            
            div p{                
                margin-left: -17%;
            }
            /*Encabezado*/

            h1{
                text-align: center;
                font-size: 450%;
                background-color: #131921;
                /*background-color: #232F3E;*/
                color: white;  
                padding: 2% 0px;                 
            }
            /*body*/

            body{                              
                display: flex;
                flex-direction: column;
                justify-content: center;                
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                
                height: 100%;   

            }
            main{
                display: flex;
                margin: 3% auto;
                height: 100%;  
                width: 94%;
                align-items: center;    
                border-radius: 9%;
                padding: 3%;
            }
            /*footer*/

            footer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: #232F3E;
                font-size: 140%;
            }


            footer p{
                text-align: center;
                width: fit-content;
                margin: 2% 1.5%;

            }

            footer a{
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

            footer p:hover{
                text-decoration: underline;
                color: white;
            }