            form{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 110%;
                font-size: 150%;
                width: 100%;
            }
            
            form div{
                background-color: blue;
                height: 3.5%;
            }
            
            label{                
                margin-top: 0.5%;
                width: fit-content;
                margin-left: 40%;
            }            
            
            input{                
                margin-top: 0.5%;
            }
            
            #divNombre input{
                margin-left: 5%;
            }
            
            #divEdad input{
                margin-left: 6.5%;
                width: 1.3%;
            }
            
            #divFechaNacimiento input{
                margin-left: 0.4%;
            }
            
            #divEmail input{
                margin-left: 1.2%;
                width: 10%;
            }
            
            #divReal input{
                margin-left: 2.2%;
                width: 2.3%;
            }
            
            #divTelefono input{
                margin-left: 4.6%;
                width: 3.5%;
            }
            
            #divUrl input{
                margin-left: 4%;
                width: 15%;
            }
            
            #divFechaActual input{
                margin-left: 2.9%;
                width: 3.5%
            }
            
            button{
                width: fit-content;
                margin-top: 1%;
            }
            
            
            
            *{
                margin: 0;
                padding: 0;
            }
            html{
                height: 100%;
            }
            
            div{
                height: 10%;
                /*width: 30%;*/
                width:100%;
                display: flex;
                flex-direction: row;                
                align-items: center;
                
            }
            
            
            #enviar{
                width: 100%;
                height: 8%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            
            #fechaActual input{
                margin-left: 17.6%;
            }
            
            
            #boton{
                font-size: 100%;
                padding: 1% 2%;
                background-color: greenyellow;
            }
            
            #respuesta{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            #errorReal{
                  font-size: 80%;             
            }
            
            /*Encabezado*/

            header h1{
                text-align: center;
                font-size: 400%;
                background-color: rgb(216, 199, 224);
                color: rgb(16, 9, 114);  
                padding: 2% 1%;                 
            }
            
            header{
                width: 100%;
            }
            /*body*/

            body{                              
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;                
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                
                height: 100%;   

            }
            main{
                display: flex;
                margin: 3% auto;
                height: 100%;  
                width: 94%;
                align-items: center;    
                border-radius: 9%;
                padding: 3%;
            }
            /*footer*/

            footer{
                width: 100%;
                display: flex;
                flex-direction: row;                 
                justify-content: center;
                background-color: rgb(216, 199, 224);   
                font-size: 140%;                  
            }
            footer a{
                text-decoration: none;                
                text-align: center;
                color: rgb(16, 9, 114);
                font-weight: bold;               
            }
            p{
                text-align: center;                
                width: fit-content;   
                margin: 2% 1.5%;  
                  
            }
            footer p:hover{
                transform: scale(1.3);
                text-decoration: none;
            }