form{
    height: 73.3%;
    font-size: 150%;
    width: 100%;

    
}
div{  
    width: 100%;
}

label{
    margin-top: 0.5%;
    width: fit-content;
    margin-left: 40%;
}

input{
    margin-top: 0.5%;
}

#divNombre{
    height: 10%;
    display: flex;    
    align-items: center;
}

#divNombre input{
    margin-left: 1%;
}

#divFechaNac{    
    height: 10%;
    display: flex;    
    align-items: center;
}

#divFechaNac input{
    margin-left: 0.4%;
}

#divSientoHoy{
    height: 15%;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.7%;
}
#divSientoHoy p{
    width: 100%;
    margin-left: 45%;
    height: 17%;
}

#cabeceraSientoHoy{
    height: 15%;
    margin-bottom: 5%;
}

#cabeceraSientoHoy p{
    margin-top: 0%;
}

#divSientoHoy label{
    margin-left: 0%; 
}

#divSientoHoy input{
    margin-left: 8%;
    margin-right: 0%;
    width: 2%;    
}

#radios{
    width: 60%;
    height: 150%;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#contenedorSientoHoy{
    display: block;
    margin-left: 30%;
    
}


#errorSientoHoy{   
    color: red;  
    margin-top: -2%;
    height: 100%;
    width: fit-content;
    margin-left: 80%;    
}
#errorSientoHoy p{   
    height: 100%;
    width: fit-content;
}

#divCurso{
    display: flex;    
    align-items: center;
    margin-top: 3%;
    height: 5%;
}

#divCurso input{
    margin-left: 1%;
}

#divNavidad{
    display: flex;    
    align-items: center;
    margin-top: 4%;
}

#divNavidad select{
    margin-left: 1%;
    margin-top: 0.5%;
}

#divEstadoAnimo{
    display: flex;    
    align-items: center;
    height: 5%;
    margin-top: 3%;
}

#divEstadoAnimo textarea{
    margin-left: 1%;
    margin-top: 1%;
    width: 25%;
}


button{
    width: fit-content;
    margin-top: 1%;    
}



*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}




#enviar{
    width: 100%;
    height: 8%;
    text-align: center;
    margin-top: 1.6%;
}


#boton{
    font-size: 100%;
    padding: 1% 2%;
    background-color: greenyellow;    
}

#respuesta{
    margin: 0 auto;
    height: 73.3%; 
    font-size: 120%;
    display: flex;
    
    justify-content: center;
    align-items: center;

}

#respuesta p{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}




/*Encabezado*/

h1{
                text-align: center;
                font-size: 450%;
                background-color: #131921;
                /*background-color: #232F3E;*/
                color: white;  
                padding: 2% 0px;                 
            }

header{
    width: 100%;
}
/*body*/

body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;

}
/*footer*/

footer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: #232F3E;
                font-size: 140%;
            }


            footer p{
                text-align: center;
                width: fit-content;
                margin: 2% 1.5%;

            }

            footer a{
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

            footer p:hover{
                text-decoration: underline;
                color: white;
            }