form{
    height: 72%;
    font-size: 150%;
    width: 100%;
}

form div{
    height: 3.5%;
    margin: 2% 0%;
}

label{
    margin-top: 0.5%;
    width: fit-content;
    margin-left: 40%;
}

input{
    margin-top: 0.5%;
}

#divNombre input{
    margin-left: 5%;
}

#divEdad input{
    margin-left: 6.5%;
    width: 1.4%;
}

#divFechaNacimiento input{
    margin-left: 0.4%;
}

#divEmail input{
    margin-left: 1.2%;
    width: 10%;
}

#divReal input{
    margin-left: 2.2%;
    width: 2.3%;
}

#divTelefono input{
    margin-left: 4.6%;
    width: 3.5%;
}

#divUrl input{
    margin-left: 4%;
    width: 15%;
}

#divFechaActual input{
    margin-left: 2.9%;
    width: 3.5%
}

button{
    width: fit-content;
    margin-top: 1%;
}



*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

div{
    height: 10%;
    /*width: 30%;*/
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}


#enviar{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#fechaActual input{
    margin-left: 17.6%;
}


#boton{
    font-size: 100%;
    padding: 1% 2%;
    background-color: greenyellow;
}

#respuesta{
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#errorReal{
    font-size: 80%;
}

/*Encabezado*/

h1{
    text-align: center;
    font-size: 450%;
    background-color: #131921;
    /*background-color: #232F3E;*/
    color: white;
    padding: 2% 0px;
}

header{
    width: 100%;
}
/*body*/

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;

}
main{
    display: flex;
    margin: 3% auto;
    height: 100%;
    width: 94%;
    align-items: center;
    border-radius: 9%;
    padding: 3%;
}
/*footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #232F3E;
    font-size: 140%;
    width: 100%;
}


footer p{
    text-align: center;
    width: fit-content;
    margin: 2% 1.5%;

}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer p:hover{
    text-decoration: underline;
    color: white;
}