*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

/*Encabezado*/

h1{
    text-align: center;
    font-size: 450%;
    background-color: #131921;
    /*background-color: #232F3E;*/
    color: white;
    padding: 2% 0px;
}

header{
    width: 100%;
}
/*body*/

body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;

}
/*footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #232F3E;
    font-size: 140%;
}


footer p{
    text-align: center;
    width: fit-content;
    margin: 2% 1.5%;

}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer p:hover{
    text-decoration: underline;
    color: white;
}


form{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
    width: 100%;    
    margin: 0.8% auto;    
}

div label{
    margin-left: 40%;
}

div input, p{
    margin-left: 2%;
}


#textoObligatorio{
    background-color: red;
    heigth: 10%;
}


#respuesta{
    display: flex;
    flex-direction: column;
    height: 72.1%;
}

#respuesta h1{
    margin-bottom: 3%;
}


#enviar{
    height: 20%;
}
#enviar input{
    
    margin: 0 auto;
    height: 5%;
    
}
#enviar{
    width: 100%;
    height: 8%;
    text-align: center;
    margin-top: 1.6%;
}


#boton{
    font-size: 100%;
    padding: 0.5% 1%;
    background-color: #009900;
    border-radius: 6px;
}